<h1>Pre-Order Confirmation!</h1>

<h3>Name: </h3>
<p><%= @shoe.concat_name %></p>

<h3>Shoe Size: </h3>
<p><%= @shoe.shoe_size %></p>

<h3>Quantity: </h3>
<p><%= @shoe.quantity %></p>

<h3>Total:</h3>
<p><%= @shoe.total %></p>

<h1>Great! We now have your pre-order! We will email you with confirmation once we go live. Thank you for supporting Shoos!</h1>
