<!DOCTYPE html>
<html>
<head>
  <title>Shoos - OPENING SOON! Pre Order Now!"</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div>

  <h1>Shoos.</h1>

  </div>

<%= yield  %>

</body>
</html>