<h1>Pre-Order Here!</h1>

<form action="/shoe" method="post">
  
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
  
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">
  
  <label for="shoe_size">Select a size:</label>
  <select name="shoe_size">
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
  </select>
  
  <label type="number" name="quantity">Quantity:</label>
  <input type="number" name="quantity"></input>
  
  <input type="submit" value="Order!">
  
</form>